{% extends 'familiares_app/base_mascota.html' %}
{% block titulo%} Buscar Mascota por nombre {% endblock %}
{% block contenido %}

  
  <form action="/mascotas/buscar_mascota.html" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>
  
  <a href="/mascotas">Volver a la lista de Mascotas</a>  
  {% for mascota in lista_mascotas %}
      <ul>
          <li> especie: {{mascota.especie}}, nombre: {{mascota.nombre}}, edad: {{mascota.edad}}</li>
      </ul>
  
      {% endfor %}
{% endblock %}